<md-toolbar color="primary">
  <button md-icon-button>
    <md-icon class="md-24">menu</md-icon>
  </button>
  <span>Recipe Book</span>

  <span class="flex-space"></span>

  <button md-button>Recipes</button>
  <button md-button>Shopping List</button>

  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>

  <!-- Menu dropdown -->
  <md-menu #menu="mdMenu" x-position="before" y-position="below">
    <button md-menu-item> Sign In </button>
    <button md-menu-item> Sign Up </button>
    <button md-menu-item disabled> Sign Out </button>
  </md-menu>
</md-toolbar>
